* {
	margin: 0;
	padding: 0;
}

body {
	animation: fadeIn 0.1s;
	min-height: 150vh;
	background: #b4b4b4;
	animation: BlogFadeIn 0.3s;
	
}

@keyframes fadeIn {
	from {
		opacity: 0.3;
	}
	to {
		opacity: 0.9;
	}
}



@keyframes BlogFadeIn {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}








.web-section {
	
	max-width: 1500px; 
	margin: 0 auto;
	position: relative;
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


header {
	background: mintcream;
	height: 150px;
	width: 100%;
	position: relative;
	top: 0;

}

nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: orange;

	
	
}

nav ul {
	text-decoration: none;
	list-style-type: none;


}


nav ul li {
	display: inline-flex;
	color: white;
	margin-right: 20px;
	margin-top: 4px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;

}

nav ul li a {
	text-decoration: none;
	color: white;
} 

nav ul li a:hover {
	text-decoration: none;

	color: #444;
	transition: 0.5s;
} 

nav ul li:first-child {
	margin-left: 10px;
} 



header .intro {
	padding-top: 15px;
	text-align: center;
	animation: fadeIn 0.3s;
}



header .intro h1 {
	font-family: helvetica;
	letter-spacing: 1px;
	color: #444;
}

header .intro h2 {
	padding-top: 5px; 
	text-transform: uppercase;
	font-family: helvetica;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 400;
	color: #888;
	opacity: 0.4;

}









.main-section {
	width: 100%;
	height: auto;

	background: black;
	color: white;
	display: inline-flex;
	
}

.description {
	
	width: 53%;	

}

.description-text {
	
	width: 500px;
	margin: 100px auto;
	text-align: left;
}

.description-text h1 {
	font-family: Futura;
	color: orange;
}

.description-text p {
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 1px;
	animation: fadeIn 2s;
}


.main-section .profile-photo {
	width: 47%;

	position: relative;
	
}

.profile-photo .photo-section {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	padding-bottom: 50px; 

}
.profile-photo .photo-section img {
	width: 400px;

	border-radius: 4px;
	-webkit-box-reflect: below 1px  linear-gradient(transparent, transparent, #0006);
}


.explanation {

	background: #ff8f66;
	
	
	display: flex;

}




.post-list {
	position: relative;
	max-width: 100%;
	display: grid;
	grid-template-columns:auto auto auto auto; 
	grid-template-rows: minmax(300px, auto); 
	grid-gap: 38px;
	margin: 70px auto 70px 90px;
	grid-auto-flow: dense;
	
}


.post {

	background: white;
	width: 300px;
	height: 400px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
	font-size: 50px;
	color: black;
	border-radius: 3px;
	position: relative;
}


.post .post-top {
	background: #FFFDD0;

	margin: 8px;

	border-bottom: 1px solid gray;
}

.post .post-middle {
	

	margin: 8px;
	margin-top: 15px;
	border-radius: 3px;
	height: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.post .post-top .post-title {
	padding-top: 7px;
	text-align: center;

}

.post .post-top .post-title h1 {
	font-family: sans-serif;
	letter-spacing: 1px;
	font-size: 20px;
	color: black;
	font-weight: 500;
	
}




.img-fluid {
	width: 284px;
	height: 200px;
	
}


.post .post-bottom {
	

	
}

.post .post-bottom .butoni {
	margin : 35px auto;
}


.btn-primary {
	height: 50px;
	color: black;
	font-weight: 600;
	text-transform: uppercase;
	background: #ff6933;
	border: 1px solid white;
}

.btn-primary:hover {
	background: black;
	border: 1px solid black;
	transition: 0.4s;
}




footer {

	
	
	background: #444;
	height: 250px;
	width: 100%;

}


footer .foot-block {
	margin: 0 auto;
	height: 100%;
	width: 300px;
	position: relative;
}	


.referencat {
	
	width: 100%;
	height: 50px;
	position: absolute;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	display: inline-flex;
}




.referencat .fotot img {
	max-width: 50px;
	margin-left: 10px;
}




@media screen and (max-width: 950px) {
	.main-section {
		width: 100%;
		height: 100%;
		padding-top: 50px; 
		background: black;
		color: white;
		display: block;
	
}

	.description {
		
		width: 100%;	

	}

	.description-text {
		
		width: 500px;
		margin: 0 auto;
		text-align: center;
	}

	.description-text h1 {
		font-family: Futura;
		color: orange;
	}

	.description-text p {
		font-size: 16px;
		font-family: sans-serif;
		font-weight: 400;
		line-height: 1.5em;
		letter-spacing: 1px;
		animation: fadeIn 2s;
	}


	.main-section .profile-photo {
		width: 100%;
		
		height: 400px;
		position: relative;
	
		
	}

	.profile-photo .photo-section {
		
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		padding-top: 70px; 
		padding-bottom: 150px; 

	}
	.profile-photo .photo-section img {
		width: 400px;
		margin: 0 auto;
		border-radius: 4px;
		-webkit-box-reflect: below 1px  linear-gradient(transparent, transparent, #0006);
	}



}